# Service settings
SERVICE_NAME=SafeZoneDashboard
SERVICE_VERSION=0.0.0

# Server settings
ANALYTICS_API_URL=http://analytics-service:8000
TIME_SERVER_URL=http://timeserver:8000
SERVER_IP=0.0.0.0
SERVER_PORT=8080

# Logging settings
LOG_LEVEL=DEBUG